* {
    box-sizing: border-box;
    font-family: sans-serif;

}
body {
 margin: 0;

 background-image: url("../images/bg.png");
 }



 header {
    background-color: #9abcf9;
    color: white;
    padding: 2rem;
 }
h1 {
font-size: 2rem;
}
h2 {
 font-size: 1.5rem;
}
h3 {
 font-size: 1.25rem;
}
.circle{
    border-radius: 50%;
    border: 5px solid #9abcf9;
}

/***** Layout *****/
 .container{
    background-color: white;
    display:grid;
    gap:1.5rem;
    grid-template-columns:repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75rem);
    margin: 0 auto;
    width: min(95%, 75rem);

 }
 .container > * {
    grid-column: span 12;
 }

 /* desktop layout */
 @media screen and (min-width: 40rem) {
    .col-span-8 {
        grid-column: span 8;
    }
    .col-span-4 {
        grid-column: span 4;
    }
 }

 a p{
    margin:30px
    padding:20px 30px;
    border: 2px solid #ff4d4d;
    display: inline-block;
    color: white;
    transition: ease-in-out .2s;
 }
 a p:hover{
    padding: 20px 30px;
    border: 2px solid white;
    display: inline-block;
    color:white
    background-color:aliceblue
    box-shadow: 14px 13px 3px 5px
    -moz-transform: translate(-10px, -15px)
    -webkit-transform: translate(-10px, -15px)
    -o-transform: translate(-10px, -15px)
    -ms-tansform: translate(-10px, -15px)
    transform: translate(-10px, -15px)

 }